{include file="public/base" /}
{include file="public/datetime" /}
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>设备列表</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="form-admin-add" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="code" placeholder="设备编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="device_admin" placeholder="设备管理员" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="address" placeholder="设备所在地" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <span class="layui-btn sub">查询</span>
                    </div>
                </div>
            </form>

            <table class="layui-table" id="list-admin" lay-even>
                <thead>
                <tr>
                    <td style="width: 1px;" class="text-center">
                        <input type="checkbox" onclick="$('input[name*=\'mid\']').prop('checked', this.checked);">
                    </td>
                    <th>设备编号</th>
                    <th>设备管理员</th>
                    <th>设备所在地</th>
                </tr>
                </thead>
            </table>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        var musics = '{$musics}';
        var myFun = function (query) {
            query = query || '';
            return $('#list-admin').DataTable({
                dom: 'rt<"bottom"ifpl><"clear">',
                ordering: false,
                autoWidth: false,
                searching:false,
                serverSide: true,
                ajax: {
                    url:'/ad_manage/ajaxGetDevice' + query,
                    type: 'POST',
                    dataSrc: function ( json ) {
                        if( json.code == 0 ){
                            parent.layer.msg(json.msg, {
                                icon: 5,
                                shade: [0.6, '#393D49'],
                                time:1500
                            });
                        }else{
                            return json.data;
                        }
                    }
                },
                columnDefs:[
                    {
                        "targets":0,
                        "render": function(data){
                            if(musics != '')
                            {
                                var music_arr = JSON.parse(musics);
                                if(music_arr.indexOf(data.id) == '-1')
                                {
                                    return  '<td class="text-center"><input type="checkbox" name="mid[]" title="'+data.code+'" device_admin="'+data.device_admin+'" device_address="'+data.address+'" value="'+data.id+'"> </td>';
                                }else
                                {
                                    return '';
                                }
                            }else{
                                return  '<td class="text-center"><input type="checkbox" name="mid[]" title="'+data.code+'" device_admin="'+data.device_admin+'" device_address="'+data.address+'" value="'+data.id+'"> </td>';
                            }

                        }
                    },
                    {
                        "targets":1,
                        "render": function(data){
                            if(musics != '')
                            {
                                var music_arr = JSON.parse(musics);
                                if(music_arr.indexOf(data.id) == '-1')
                                {
                                    return  data.code;
                                }else
                                {
                                    return '<span style="color:#aaa;">'+data.code+'</span>';
                                }
                            }else{
                                return  data.code;
                            }

                        }
                    }
                ],
                iDisplayLength : 20,
                aLengthMenu : [20, 30, 50],
                columns: [
                    {"data": null },
                    {"data": null },
                    {"data": "device_admin"},
                    {"data": "address" },
                ]
            });
        };
        var myTable = myFun();
        $('.sub').on("click", function(){
            myTable.destroy();
            myTable = myFun('?'+ $('#form-admin-add').serialize());
        });
    </script>
</block>